.shadow-custom {
    --horizontal: 5px;
    --vertical: var(--horizontal);
    --blur: 15px;
    --spread: 5px;
    --color: rgba(0,0,0,0.5);
    -webkit-box-shadow: var(--horizontal) var(--vertical) var(--blur) var(--spread) var(--color);
    -moz-box-shadow: var(--horizontal) var(--vertical) var(--blur) var(--spread) var(--color);
    box-shadow: var(--horizontal) var(--vertical) var(--blur) var(--spread) var(--color);
}
